        {% extends "header.html" %}
        {% block content %}
        <div class="search">
          <h2>New database entry:</h2>
        </div>
          <div class="home">
            <form action="{{ action }}" method="{{ methodType }}">
              Game Title:
              <input type="text" name="wNAME" value="" placeholder="Game Title" required><p></p>
              Description:
              <input type="text" name="wDESC" value="" placeholder="Description" required><p></p>
              Image URL:
              <input type="text" name="wIMAG" value="" placeholder="http:// ..." required><p></p>
              Select game type: 
              <select name="wTYPE">
                <option value="First Person Shooter">FPS</option>
                <option value="Role Playing Game">RPG</option>
                <option value="Strategy Game">STR</option>
              </select>
              <input type="submit" value="Save Entry">
            </form>
          </div>
        </div>
        {% endblock %}
