  	<div class="header">
      <a id="homeButton" href="http://localhost:5000"><img src="{{ url_for('static', filename='home.png') }}"></a>
      <h1>HOIJF's Catalogue</h1>
      <form id="searchBar" action="http://localhost:5000/search/">
        <input id="searchField" type="text" name="key" placeholder="Search..." required>
        <input id="searchButton" type="submit" value="Submit">
      </form>
      <nav><ul>
        <li id="menuFPS"><a href="http://localhost:5000">First Person Shooters</a></li>
        <li id="menuRPG"><a href="">Role Playing Games</a></li>
        <li id="menuSTR"><a href="">Strategy Games</a></li>
      </ul></nav>
  	</div>
{% block content %} {% endblock %}
